__pycache__/
*.py[cod]
*.pyo

venv/
.env/
.venv/
env/
ENV/

*.env
*.env.*
.envrc

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

coverage/
htmlcov/
.tox/
.nox/
pytest_cache/
*.cover
*.log


*.sqlite3
*.db

.DS_Store
Thumbs.db

*.bak
*.swp
*.tmp
*~

node_modules/
dist/
build/
*.sql~

*.csv
*.xlsx
*.json
*.parquet
